/* Reset CSS */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Styles globaux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

/* Définition de styles spécifiques pour certaines parties de l'application */
/* Exemple de style pour le conteneur principal */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styles spécifiques pour les éléments enfants */
#root > div {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
